<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmust.Karelu.mapper.FocusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kmust.Karelu.entity.Focus">
        <id column="focusid" property="focusid" />
        <result column="userid" property="userid" />
        <result column="focusedid" property="focusedid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        focusid, userid, focusedid
    </sql>

</mapper>
