<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmust.Karelu.mapper.ReportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kmust.Karelu.entity.Report">
        <id column="reportid" property="reportid" />
        <result column="uid" property="uid" />
        <result column="noteid" property="noteid" />
        <result column="noteuserid" property="noteuserid" />
        <result column="createDate" property="createDate" />
        <result column="bedone" property="bedone" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        reportid, uid, noteid, noteuserid, createDate, bedone
    </sql>

</mapper>
